.popup-overlay {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 3;
    transition: 0.2s;
}

.sign-up-popup {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    text-align: center;
    padding: 20px;
    border-radius: 12px;
    background: var(--background-elements);
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.25);
}

.sign-up-popup > div {
    width: 260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup-not-connected {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 3;
    transition: 0.2s;
}
